.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

body {
	font-family: 'Graphik', sans-serif;
	background: #f3f7f9;
}

ul.pagination {
	display: inline-block;
}

ul.pagination li {
	display: inline;
}

ul.pagination li a {
	padding: 6px 12px;
	font-size: 14px;
	border: 1px solid #ddd;
	margin-left: -1px;
	text-decoration: none;
}

ul.pagination li.active a {
	background-color: #337ab7;
	border-color: #337ab7;
}

ul.pagination li.disabled a:hover {
	cursor: not-allowed;
}
